* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background: rgb(174, 161, 161);
}

.logo h2, span{
    font-family: 'Berkshire Swash', cursive;
}

.logo span {
    color: rgb(250, 000,000);
}

.navigation ul li {
    display: inline-block;
    margin-top: 30px;
}

.navigation ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: 1s;
}

.navigation ul li a.active {
    color: rgb(250, 000,000);
}

.navigation ul li a:hover {
    color: rgb(202, 132, 132);
    border-bottom: 1px solid rgb(202, 132, 132);
}

.home {
    height: 100vh;
}

.home .col-6 {
    margin-top: 13%;
}

.home .col-6 p {
    font-size: 30px;
    font-family: 'Tinos', serif;
}

.home .col-6 button:hover {
    background: transparent;
}

.home .col-6 h1 {
    font-size: 100px;
    font-family: 'Berkshire Swash', cursive;
}

.home .col-6 span {
    font-size: 100px;
    font-family: 'Berkshire Swash', cursive;
    color: rgb(250, 000,000)    ;
}

.photo img {
    float: right;
    height: 550px;
    width: 550px;
    border-radius: 50%;
    position: relative;
    top: -20%;
    padding: 5px;
    border: 4px solid #000;
    box-shadow: 5px 5px rgb(106, 96, 96);
}

.about {
    height: 100vh;
}
.about img {
    height: 650px;
    box-shadow: 5px 5px rgb(106, 96, 96);
    padding: 5px;
    border: 3px solid #000;
}

.about h1 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 50px;
    text-align: center;
}

.about p {
    font-size: 20px;
    line-height: 35px;
    text-indent: 40px;
}

.about button {
    margin-left: 40%;
}

.about button:hover {
    background: transparent;
}

.skills {
    height: 100vh;
}

.skills .box {
    border: 1px solid #000;
    padding: 20px 0 40px 0;
    box-shadow: 4px 4px #000;
}

.skills .row h1 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 50px;
    text-align: center;
}

.progress-title {
    width: 75%;
}

.progress-title h3 {
    font-size: 18px;
    font-weight: bold;
}

.mysql .progress .progress-bar {
    background: rgb(226, 193, 131);
}

.progress {
    height: 15px;
    background: #171b3c;
    border-radius: 20px;
    border: 1px solid #000;
    box-shadow: 0 2px 2px #4f4c4c;
    overflow: visible;
    position: relative;
}

.progress .progress-bar {
    border-radius: 20px;
    border-radius: 1px solid #000;
    animation: animate-positive 2s;
}

.progress .progress-value {
    text-align: center;
    width: 50px;
    height: 25px;
    line-height: 30px;
    background: #171b3c;
    font-size: 15px;
    color: #fff;
    border-radius: 0 0 15px 15px;
    border: 1px solid #000;
    box-shadow: 0 2px 2px #4f4c4c;
    position: absolute;
    bottom: -25px;
    right: 60px;
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0%;
    }
}

keyframes animate-positive {
    0% {
        width: 0%;
    }
}

.service {
    height: 90vh;
}

.title h2 {
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: 'Berkshire Swash', cursive;
    color: #000;
    font-size: 50px;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 400px;
}

.card {
    max-height: 430px;
    width: 365px;
    padding: 20px 35px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    background: rgb(91, 85, 85);
}

.card i {
    font-size: 50px;
    margin-bottom: 10px;
    display: block;
    text-align: cneter;
    color: rgb(250, 000,000);
}

.card h4 {
    font-family: 'Berkshire Swash', cursive;
    margin-bottom: 15px;
    color: #fff;
}

.card p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 2rem;
}

.card .button {
    background: rgb(250, 000,000);
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    margin-left: 0;
    padding: 10px 15px;
}

.card .button:hover {
    background: transparent;
    border: 1px solid rgb(250, 000,000);
    box-shadow: 5px 5px #000;
    color: #fff;
}

.contact {
    height: 100vh;
}

.contact .row {
    border: 1px solid #000;
    box-shadow: 5px 5px #000;  
}

.col-5 .img {
    text-align: center;
    margin-top: 10rem;
    margin-left: 8rem;
}

.img i {
    font-size: 20rem;
    color: rgb(250, 000,000);
}

.img h3 {
    font-family: 'Berkshire Swash', cursive;
}

.col-7 {
    padding: 30px;
}

.col-7 .fill-up h1 {
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
}

.fill-up .col-9 input, label, textarea, .button{
    margin-left: 5rem;
}

.fill-up button:hover {
    color: white;
    background: transparent;
    box-shadow: 5px 5px #000;   
}
