*, *::after, *::before {
    box-sizing: border-box;
}

/* Root */
:root {
    --hue: 30;
    --saturation: 50%;
    --foreground-color: hsl(var(--hue), var(--saturation), 75%);
    --background-color: hsl(var(--hue), var(--saturation), 20%);
}
/* Root */

body {
    margin: 0;
    background-color: var(--background-color);
    overflow: hidden;
}

/* Paddle style */
.paddle {
    --position: 50;

    position: absolute;
    background-color: var(--foreground-color);
    top: calc(var(--position) * 1vh);
    transform: translateY(-50%);
    width: 1vh;
    height: 10vh;
}

.paddle.left {
    left: 1vw;
}

.paddle.right {
    right: 1vw;
}
/* Paddle style */

/* Ball style */
.ball {
    --x: 50;
    --y: 50;

    position: absolute;
    background-color: var(--foreground-color);
    top: calc(var(--y) * 1vh);
    left: calc(var(--x) * 1vw);
    transform: translate(-50%, -50%);
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
}
/* Ball style */

/* Score style */
.score {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 8vh;
    color: var(--foreground-color);
}

.score > * {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 2vh;
    margin: 1vh 0;
    opacity: .5;
}

.score > :first-child {
    text-align: right;
    border-right: .5vh solid var(--foreground-color);
}
/* Score style */